# Compiled JavaScript files
dist
build

# TypeScript source maps
*.map

# npm package manager lock file
package-lock.json

# Node.js module dependencies
node_modules

# TypeScript cache files
*.tsbuildinfo

# Prisma-related files
prisma/migrations
prisma/client

# Sensitive credentials
.env

# Log files (if any)
logs/*

# Private text/markdown files
_*.txt
_*.md